# Querying with SQLAlchemy - Lab

## Introduction

In this lesson, we'll learn how to use SQLAlchemy to write queries about Microsoft's _Northwind Traders_ database!

## Objectives

You will be able to:

* Read and understand an ERD diagram
* Create queries with SQLAlchemy, including queries that involve many-to-many relationships

## Getting Started

In order to complete this lab, we'll need to download a SQLite3-compatible version of the _Northwind Traders_ database from Microsoft.  Microsoft built this database back in the year 2000 to help showcase their SQL Server technology. Since then, it has been open-sourced and has become a great practice tool for every new generation of SQL learners. 

Lucky for us, some generous programmers have already converted the Northwind database to a sqlite-compatible version and posted it on Github. We've already included the file the SQL database file that we'll be working with in the repo for this folder, along with the following ERD Diagram. However, if you would like to work with the larger version of this dataset at a future time, just clone [this repo](https://github.com/jpwhite3/northwind-SQLite3) and follow their instructions to access it!

## ERD Diagram For Northwind Traders

The following ERD Diagram describes the Northwind Traders Database:

<img src='Northwind_ERD.png'>

If the text seems a bit hard to read inside this jupyter notebook, just go into the folder for this repo and open the `Northwind_ERD.png` file manually to see it full size. 

## Connecting to the Database

The first thing we'll need to do is connect to the Northwind Traders database, which can be found in the file `Northwind_small.sqlite`.

In the cell below, import the necessary tools from the `sqlalchemy` library, and take the necessary steps to connect to the database.

**_NOTE:_** We won't be modifying the information in the database at all, just querying it, so there's no need to import the various things you would need to create declarative base classes and the like.

In [1]:
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session, sessionmaker

engine = create_engine('sqlite:///Northwind_small.sqlite')
Session = sessionmaker(bind = engine)
session = Session()

## Get Table Names and Table Information

One of the most useful things we can do when working with a new database is to inspect the tables until we have a solid idea of what we're looking at.  As you work through this lab, you'll notice that there are some small discrepancies between the Table/Column names listed in the ERD and what they are actually are in the database.  This may be annoying, but this is not an accident--sometimes, documentation is wrong!  By learning how to inspect what tables exist in a database, as well as how which columns exist inside a table, we can save ourselves a lot of headaches by double checking. 

In the cell below:

* Import `inspect` from sqlalchemy
* Create an inspector object by passing in `engine` to `inspect`
* Use the appropriate inspector function to get the names of all tables

In [2]:
from sqlalchemy import inspect

In [3]:


inspector = inspect(engine)

print(inspector.get_table_names())

['Category', 'Customer', 'CustomerCustomerDemo', 'CustomerDemographic', 'Employee', 'EmployeeTerritory', 'Order', 'OrderDetail', 'Product', 'Region', 'Shipper', 'Supplier', 'Territory']

Great! We can now see exactly what each Table is named. 

**_Question_**:

Are there any discrepancies between the table names and the ERD diagrams? if so, what are they?

Write your answer below this line:
________________________________________________________________________________________________________________________________

Plurals are singular

Let's inspect the column names on one of the tables as well. In the cell below, call the appropriate method to get all column names for the `'Employee'` table.

In [4]:
print(inspector.get_columns('Employee'))

[{'name': 'Id', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}, {'name': 'LastName', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'FirstName', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Title', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'TitleOfCourtesy', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'BirthDate', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'HireDate', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Address', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'City', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Region', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'PostalCode', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Country', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'HomePhone', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Extension', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Photo', 'type': BLOB(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'Notes', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'ReportsTo', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}, {'name': 'PhotoPath', 'type': VARCHAR(length=8000), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}]

That output is good, but its a bit messy. Let's write a function that makes it a bit more readable, and only tells us what we need to know. 

The current structure of the output is a list of dictionaries. Complete the function below so that when the function is called and passed a table name, it prints out the name and type of each column in a well-formatted way.

In [13]:
def get_columns_info(col_name):
    col_list = inspector.get_columns(col_name)
    
    print("Table Name: {}".format(col_name))
    print("")
    
    for col in col_list:
        print("Name: {} \t Type: {}".format(col['name'], col['type']))

get_columns_info('Employee')

Table Name: Employee

Name: Id 	 Type: INTEGER
Name: LastName 	 Type: VARCHAR(8000)
Name: FirstName 	 Type: VARCHAR(8000)
Name: Title 	 Type: VARCHAR(8000)
Name: TitleOfCourtesy 	 Type: VARCHAR(8000)
Name: BirthDate 	 Type: VARCHAR(8000)
Name: HireDate 	 Type: VARCHAR(8000)
Name: Address 	 Type: VARCHAR(8000)
Name: City 	 Type: VARCHAR(8000)
Name: Region 	 Type: VARCHAR(8000)
Name: PostalCode 	 Type: VARCHAR(8000)
Name: Country 	 Type: VARCHAR(8000)
Name: HomePhone 	 Type: VARCHAR(8000)
Name: Extension 	 Type: VARCHAR(8000)
Name: Photo 	 Type: BLOB
Name: Notes 	 Type: VARCHAR(8000)
Name: ReportsTo 	 Type: INTEGER
Name: PhotoPath 	 Type: VARCHAR(8000)

# Expected Output:

Table Name: Employee

Name: Id 	 Type: INTEGER
Name: LastName 	 Type: VARCHAR(8000)
Name: FirstName 	 Type: VARCHAR(8000)
Name: Title 	 Type: VARCHAR(8000)
Name: TitleOfCourtesy 	 Type: VARCHAR(8000)
Name: BirthDate 	 Type: VARCHAR(8000)
Name: HireDate 	 Type: VARCHAR(8000)
Name: Address 	 Type: VARCHAR(8000)
Name: City 	 Type: VARCHAR(8000)
Name: Region 	 Type: VARCHAR(8000)
Name: PostalCode 	 Type: VARCHAR(8000)
Name: Country 	 Type: VARCHAR(8000)
Name: HomePhone 	 Type: VARCHAR(8000)
Name: Extension 	 Type: VARCHAR(8000)
Name: Photo 	 Type: BLOB
Name: Notes 	 Type: VARCHAR(8000)
Name: ReportsTo 	 Type: INTEGER
Name: PhotoPath 	 Type: VARCHAR(8000)

## Connecting and Executing Raw SQL Statements

Sometimes, the easiest thing for us to do is to just execute a raw SQL statement.  This is very easy with SQLAlchemy--we just need to establish a connection, and then use the appropriat methods to execute SQL statements!

In the cell below:

* Create a connection using the `engine` object's appropriate method and store it in the variable `con`
* Use the appropriate method from `con` to execute a raw SQL statement (in the form of a string) that gets everything from the `'Customer'` table with a LIMIT of 5. Store the results returned in the variable `rs`
* Use the `fetchall()` method to display all results from `rs`.

In [16]:
con = engine.connect()
rs = con.execute('SELECT * FROM Customer LIMIT 5')

print(rs.fetchall())

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

# Expected Output:

[('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', 'Western Europe', '12209', 'Germany', '030-0074321', '030-0076545'), ('ANATR', 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Owner', 'Avda. de la Constitución 2222', 'México D.F.', 'Central America', '05021', 'Mexico', '(5) 555-4729', '(5) 555-3745'), ('ANTON', 'Antonio Moreno Taquería', 'Antonio Moreno', 'Owner', 'Mataderos  2312', 'México D.F.', 'Central America', '05023', 'Mexico', '(5) 555-3932', None), ('AROUT', 'Around the Horn', 'Thomas Hardy', 'Sales Representative', '120 Hanover Sq.', 'London', 'British Isles', 'WA1 1DP', 'UK', '(171) 555-7788', '(171) 555-6750'), ('BERGS', 'Berglunds snabbköp', 'Christina Berglund', 'Order Administrator', 'Berguvsvägen  8', 'Luleå', 'Northern Europe', 'S-958 22', 'Sweden', '0921-12 34 65', '0921-12 34 67')]

## Incorporating Pandas DataFrames

So far we've been able to easily connect to a SQL database, inspect the tables, and execute queries. However, the results returned from queries haven't been in an easily readable format.  We'll fix that by taking the results and storing it in a pandas DataFrame!

In the cell below:

* Import pandas and set the standard alias.
* Create and execute a query that gets The firstname, lastname, and title of every person in the `'Employee'` table.
* Create a pandas DataFrame out of the results returned from `rs.fetchall()`
* Display the head of the new DataFRame

In [18]:
import pandas as pd

rs = con.execute('SELECT FirstName, LastName, Title FROM Employee')
df = pd.DataFrame(rs.fetchall())
df.head()

          0          1                      2
0     Nancy    Davolio   Sales Representative
1    Andrew     Fuller  Vice President, Sales
2     Janet  Leverling   Sales Representative
3  Margaret    Peacock   Sales Representative
4    Steven   Buchanan          Sales Manager

Nice! We can now read our results.  However, the columns of our DataFrame aren't labeled.  Luckily, pandas plays nicely with the sqlalchemy library, and can actually execute sql queries!

### Writing Queries with Pandas

In the cell below:

* Use the appropriate method from pandas to select all columns for every row in the `[Order]` table where the customer is `'VINET'`
* Be sure to pass in our `engine` as the 2nd parameter, otherwise it won't work!
* Display the head of the DataFrame created to ensure everything worked correctly.

In [20]:
df = pd.read_sql_query("SELECT * FROM [Order] WHERE CUSTOMERId = 'VINET'", engine)
df.head()

,Id,CustomerId,EmployeeId,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2012-07-04,2012-08-01,2012-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
1,10274,VINET,6,2012-08-06,2012-09-03,2012-08-16,1,6.01,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
2,10295,VINET,2,2012-09-02,2012-09-30,2012-09-10,2,1.15,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
3,10737,VINET,2,2013-11-11,2013-12-09,2013-11-18,2,7.79,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France
4,10739,VINET,3,2013-11-12,2013-12-10,2013-11-17,3,11.08,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,Western Europe,51100,France

Great! As we can see from the output above, when we let pandas execute the SQL query for us, the DataFrame now contains columns with the correct labels. This is a great way to execute SQL while still making sure our results are easy to read and manipulate by using DataFrames!

## Executing JOIN Statements

Let's try executing a JOIN statement inside `pd.read_sql_query`.

In the cell below:

* Write a query that gets the Order ID, Company Name, and the total count of orders made by each company (as num_orders).
* Group the results by Company Name
* Order the results by num_orders, descending
* Display the head of the DataFrame to ensure everything worked correctly.

In [34]:
get_columns_info('Order')

Table Name: Order

Name: Id 	 Type: INTEGER
Name: CustomerId 	 Type: VARCHAR(8000)
Name: EmployeeId 	 Type: INTEGER
Name: OrderDate 	 Type: VARCHAR(8000)
Name: RequiredDate 	 Type: VARCHAR(8000)
Name: ShippedDate 	 Type: VARCHAR(8000)
Name: ShipVia 	 Type: INTEGER
Name: Freight 	 Type: DECIMAL
Name: ShipName 	 Type: VARCHAR(8000)
Name: ShipAddress 	 Type: VARCHAR(8000)
Name: ShipCity 	 Type: VARCHAR(8000)
Name: ShipRegion 	 Type: VARCHAR(8000)
Name: ShipPostalCode 	 Type: VARCHAR(8000)
Name: ShipCountry 	 Type: VARCHAR(8000)

In [47]:
df = pd.read_sql_query("""SELECT o.ID, c.CompanyName, Count(*) num_orders FROM [Order] o \
 INNER JOIN Customer c on o.CustomerID = c.ID GROUP BY c.CompanyName ORDER BY num_orders DESC""", engine)
df.head()

      Id                   CompanyName  num_orders
0  11064            Save-a-lot Markets          31
1  11072                  Ernst Handel          30
2  11021                    QUICK-Stop          28
3  11050                Folk och fä HB          19
4  11063  Hungry Owl All-Night Grocers          19

### Expected Output

<img src='join_results.png'>

Great job! Let's see if we can execute a join that includes entities with a many-to-many relationship.

### JOINs with Many-To-Many Relationships

In the cell below:

* Write a query that selects the LastName, FirstName and number of territories assigned for every employee. 
* Group the results by employee lastname
* Order by the total number of territories assigned to each employee, descending
* You'll need to make use a join table to solve this one--be sure to take a look at the ERD diagram again if needed!
* Store your results in a DataFrame and display the head to ensure that everything worked correctly.

**_NOTE:_** For long SQL statements, consider using the multiline string format in python, denoted by `"""three quotes"""` at the beginning and end.  Note that if you hit enter to move to another line, be sure to add an `\` character at the end of the line to escape it--otherwise, your sql statements will contain `\n` newline characters wherever you hit enter to move to the next line.

In [91]:
get_columns_info('EmployeeTerritory')

Table Name: EmployeeTerritory

Name: Id 	 Type: VARCHAR(8000)
Name: EmployeeId 	 Type: INTEGER
Name: TerritoryId 	 Type: VARCHAR(8000)

In [108]:
q = '''SELECT LastName, FirstName, COUNT(*) TerritoriesAssigned FROM Employee e \
JOIN EmployeeTerritory et on e.Id = et.employeeID GROUP BY e.LastName ORDER BY TerritoriesAssigned DESC'''

df2 = pd.read_sql_query(q, engine)
df2.head()

    LastName FirstName  TerritoriesAssigned
0       King    Robert                   10
1   Buchanan    Steven                    7
2  Dodsworth      Anne                    7
3     Fuller    Andrew                    7
4     Suyama   Michael                    5

#### Expected Output:

<img src='many-to-many-results.png'>

Great job! You've demonstrated proficiency using raw sql with SQLAlchemy. However, we haven't yet touched all the fun declarative stuff.  Let's get some practice working with SQLAlchemy `session` objects below!

## Using SQLAlchemy Sessions

So far, we've just been using SQLAlchemy as a way to connect to a database and run SQL queries. However, SQLAlchemy is an **_Object-Relational Mapper_**, and can map entities in our database to python objects! This can be incredibly helpful when we need to incorporate data from our database into an object-oriented program or model. 

Let's start by getting some practice with `session` objects, because that's where all the magic happens.

### Using `.query` Objects

Recall that we created a `session` object at the beginning of this lab by using SQLAlchemy's `sessionmaker` function and binding it to our `engine` object.  We haven't used our `session` object too much thus far, but now we'll use it for queries!

The `session` object contains a `.query()` method which returns a query object containing the results of our query, with the results mapped to objects.  

Before we can make use of Object-Relational Mappings, we need to make sure that we have mappings created that map the tables in our existing database to objects in python.  We don't want to have to do this manually, so we'll make use the `automap` module inside of `sqlalchemy.ext`.

In the cell below:

* Import `MetaData` from `sqlalchemy`
* Import `automap_base` from `sqlalchemy.ext.automap`
* Create a `MetaData` object
* Use the metadata object's `reflect` method on our `engine`
* Call `automap_base` and set the `metadata` parameter to our `metadata`. Store the results returned inside of the variable `Base`
* Call `base.prepare()`
* Map `Employee` and `Customer` to the `Employee` and `Customer` classes, which can be found inside of `Base.classes`

In [112]:
from sqlalchemy import MetaData 
from sqlalchemy.ext.automap import automap_base 

metadata = MetaData()

metadata.reflect(engine)

Base = automap_base(metadata = metadata)

# Don't forget to .prepare()!

Base.prepare()

In [113]:
Employee, Customer = Base.classes.Employee, Base.classes.Customer

Now that we have some mappings set up, we can make use of `session.query()` help us query our database!

### Writing Basic Queries

Let's use the `query()` object to get all the employees from the `'Employee'` table. 

In the cell below:

* Create a for loop that iterates through the results returned by a `session.query()` of the Employee table (pass this as a variable, not a string).
* Order the results by the Employee's `.HireDate` attribute.
* Print the last name, first name, and hire date of each employee.

In [116]:
for instance in session.query(Employee).order_by(Employee.HireDate):
    print (instance.LastName, instance.FirstName, instance.HireDate)

Leverling Janet 2024-04-01
Davolio Nancy 2024-05-01
Fuller Andrew 2024-08-14
Peacock Margaret 2025-05-03
Buchanan Steven 2025-10-17
Suyama Michael 2025-10-17
King Robert 2026-01-02
Callahan Laura 2026-03-05
Dodsworth Anne 2026-11-15

### Implicit JOINs using `.filter()`

One great benefit of using `session.query()` to query our data is that we can easily execute **_implicit joins_** by making use of the `.filter()` method. 

So far we've only explicitly specified mappings for the `Employee` and `Customer` classes.  We'll need to do this now for the `Product` and `Category` classes before we can use them with `session.query()`.

In the cell below, set the mappings for `Product` and `Category`.

**_HINT:_** This will look just like the last line of the code cell where we declared our mappings previously.  No need to repeat all the steps for getting metadata and creating a `Base` class. Just set the mappings!

In [117]:
Product, Category = Base.classes.Product, Base.classes.Category

Great!

Now, in the cell below:

* Create a for loop that iterates through all results returned from a query of Products and Categories
* Use the `.filter()` method to only include cases where the Product's `.CategoryID` matches the Category's `.Id` attribute.
* Print out the name of each product, followed by the name of the category that it belongs to.

In [123]:
get_columns_info('Category')

Table Name: Category

Name: Id 	 Type: INTEGER
Name: CategoryName 	 Type: VARCHAR(8000)
Name: Description 	 Type: VARCHAR(8000)

In [130]:
for p, c in session.query(Product, Category).filter(p.CategoryId == c.Id).all():
    print("Product Name: {}  Category Name: {}".format(p.ProductName, c.CategoryName))

Product Name: Chai  Category Name: Beverages
Product Name: Chai  Category Name: Condiments
Product Name: Chai  Category Name: Confections
Product Name: Chai  Category Name: Dairy Products
Product Name: Chai  Category Name: Grains/Cereals
Product Name: Chai  Category Name: Meat/Poultry
Product Name: Chai  Category Name: Produce
Product Name: Chai  Category Name: Seafood
Product Name: Chang  Category Name: Beverages
Product Name: Chang  Category Name: Condiments
Product Name: Chang  Category Name: Confections
Product Name: Chang  Category Name: Dairy Products
Product Name: Chang  Category Name: Grains/Cereals
Product Name: Chang  Category Name: Meat/Poultry
Product Name: Chang  Category Name: Produce
Product Name: Chang  Category Name: Seafood
Product Name: Aniseed Syrup  Category Name: Beverages
Product Name: Aniseed Syrup  Category Name: Condiments
Product Name: Aniseed Syrup  Category Name: Confections
Product Name: Aniseed Syrup  Category Name: Dairy Products
Product Name: Aniseed Syrup  Category Name: Grains/Cereals
Product Name: Aniseed Syrup  Category Name: Meat/Poultry
Product Name: Aniseed Syrup  Category Name: Produce
Product Name: Aniseed Syrup  Category Name: Seafood
Product Name: Chef Anton's Cajun Seasoning  Category Name: Beverages
Product Name: Chef Anton's Cajun Seasoning  Category Name: Condiments
Product Name: Chef Anton's Cajun Seasoning  Category Name: Confections
Product Name: Chef Anton's Cajun Seasoning  Category Name: Dairy Products
Product Name: Chef Anton's Cajun Seasoning  Category Name: Grains/Cereals
Product Name: Chef Anton's Cajun Seasoning  Category Name: Meat/Poultry
Product Name: Chef Anton's Cajun Seasoning  Category Name: Produce
Product Name: Chef Anton's Cajun Seasoning  Category Name: Seafood
Product Name: Chef Anton's Gumbo Mix  Category Name: Beverages
Product Name: Chef Anton's Gumbo Mix  Category Name: Condiments
Product Name: Chef Anton's Gumbo Mix  Category Name: Confections
Product Name: Chef Anton's Gumbo Mix  Category Name: Dairy Products
Product Name: Chef Anton's Gumbo Mix  Category Name: Grains/Cereals
Product Name: Chef Anton's Gumbo Mix  Category Name: Meat/Poultry
Product Name: Chef Anton's Gumbo Mix  Category Name: Produce
Product Name: Chef Anton's Gumbo Mix  Category Name: Seafood
Product Name: Grandma's Boysenberry Spread  Category Name: Beverages
Product Name: Grandma's Boysenberry Spread  Category Name: Condiments
Product Name: Grandma's Boysenberry Spread  Category Name: Confections
Product Name: Grandma's Boysenberry Spread  Category Name: Dairy Products
Product Name: Grandma's Boysenberry Spread  Category Name: Grains/Cereals
Product Name: Grandma's Boysenberry Spread  Category Name: Meat/Poultry
Product Name: Grandma's Boysenberry Spread  Category Name: Produce
Product Name: Grandma's Boysenberry Spread  Category Name: Seafood
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Beverages
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Condiments
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Confections
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Dairy Products
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Grains/Cereals
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Meat/Poultry
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Produce
Product Name: Uncle Bob's Organic Dried Pears  Category Name: Seafood
Product Name: Northwoods Cranberry Sauce  Category Name: Beverages
Product Name: Northwoods Cranberry Sauce  Category Name: Condiments
Product Name: Northwoods Cranberry Sauce  Category Name: Confections
Product Name: Northwoods Cranberry Sauce  Category Name: Dairy Products
Product Name: Northwoods Cranberry Sauce  Category Name: Grains/Cereals
Product Name: Northwoods Cranberry Sauce  Category Name: Meat/Poultry
Product Name: Northwoods Cranberry Sauce  Category Name: Produce
Product Name: Northwoods Cranberry Sauce  Category Name: Seafood
Product Name: Mishi Kobe Niku  Category Name: Beverages
Product Name: Mishi Kobe Niku  Category Name: Condiments
Product Name: Mishi Kobe Niku  Category Name: Confections
Product Name: Mishi Kobe Niku  Category Name: Dairy Products
Product Name: Mishi Kobe Niku  Category Name: Grains/Cereals
Product Name: Mishi Kobe Niku  Category Name: Meat/Poultry
Product Name: Mishi Kobe Niku  Category Name: Produce
Product Name: Mishi Kobe Niku  Category Name: Seafood
Product Name: Ikura  Category Name: Beverages
Product Name: Ikura  Category Name: Condiments
Product Name: Ikura  Category Name: Confections
Product Name: Ikura  Category Name: Dairy Products
Product Name: Ikura  Category Name: Grains/Cereals
Product Name: Ikura  Category Name: Meat/Poultry
Product Name: Ikura  Category Name: Produce
Product Name: Ikura  Category Name: Seafood
Product Name: Queso Cabrales  Category Name: Beverages
Product Name: Queso Cabrales  Category Name: Condiments
Product Name: Queso Cabrales  Category Name: Confections
Product Name: Queso Cabrales  Category Name: Dairy Products
Product Name: Queso Cabrales  Category Name: Grains/Cereals
Product Name: Queso Cabrales  Category Name: Meat/Poultry
Product Name: Queso Cabrales  Category Name: Produce
Product Name: Queso Cabrales  Category Name: Seafood
Product Name: Queso Manchego La Pastora  Category Name: Beverages
Product Name: Queso Manchego La Pastora  Category Name: Condiments
Product Name: Queso Manchego La Pastora  Category Name: Confections
Product Name: Queso Manchego La Pastora  Category Name: Dairy Products
Product Name: Queso Manchego La Pastora  Category Name: Grains/Cereals
Product Name: Queso Manchego La Pastora  Category Name: Meat/Poultry
Product Name: Queso Manchego La Pastora  Category Name: Produce
Product Name: Queso Manchego La Pastora  Category Name: Seafood
Product Name: Konbu  Category Name: Beverages
Product Name: Konbu  Category Name: Condiments
Product Name: Konbu  Category Name: Confections
Product Name: Konbu  Category Name: Dairy Products
Product Name: Konbu  Category Name: Grains/Cereals
Product Name: Konbu  Category Name: Meat/Poultry
Product Name: Konbu  Category Name: Produce
Product Name: Konbu  Category Name: Seafood
Product Name: Tofu  Category Name: Beverages
Product Name: Tofu  Category Name: Condiments
Product Name: Tofu  Category Name: Confections
Product Name: Tofu  Category Name: Dairy Products
Product Name: Tofu  Category Name: Grains/Cereals
Product Name: Tofu  Category Name: Meat/Poultry
Product Name: Tofu  Category Name: Produce
Product Name: Tofu  Category Name: Seafood
Product Name: Genen Shouyu  Category Name: Beverages
Product Name: Genen Shouyu  Category Name: Condiments
Product Name: Genen Shouyu  Category Name: Confections
Product Name: Genen Shouyu  Category Name: Dairy Products
Product Name: Genen Shouyu  Category Name: Grains/Cereals
Product Name: Genen Shouyu  Category Name: Meat/Poultry
Product Name: Genen Shouyu  Category Name: Produce
Product Name: Genen Shouyu  Category Name: Seafood
Product Name: Pavlova  Category Name: Beverages
Product Name: Pavlova  Category Name: Condiments
Product Name: Pavlova  Category Name: Confections
Product Name: Pavlova  Category Name: Dairy Products
Product Name: Pavlova  Category Name: Grains/Cereals
Product Name: Pavlova  Category Name: Meat/Poultry
Product Name: Pavlova  Category Name: Produce
Product Name: Pavlova  Category Name: Seafood
Product Name: Alice Mutton  Category Name: Beverages
Product Name: Alice Mutton  Category Name: Condiments
Product Name: Alice Mutton  Category Name: Confections
Product Name: Alice Mutton  Category Name: Dairy Products
Product Name: Alice Mutton  Category Name: Grains/Cereals
Product Name: Alice Mutton  Category Name: Meat/Poultry
Product Name: Alice Mutton  Category Name: Produce
Product Name: Alice Mutton  Category Name: Seafood
Product Name: Carnarvon Tigers  Category Name: Beverages
Product Name: Carnarvon Tigers  Category Name: Condiments
Product Name: Carnarvon Tigers  Category Name: Confections
Product Name: Carnarvon Tigers  Category Name: Dairy Products
Product Name: Carnarvon Tigers  Category Name: Grains/Cereals
Product Name: Carnarvon Tigers  Category Name: Meat/Poultry
Product Name: Carnarvon Tigers  Category Name: Produce
Product Name: Carnarvon Tigers  Category Name: Seafood
Product Name: Teatime Chocolate Biscuits  Category Name: Beverages
Product Name: Teatime Chocolate Biscuits  Category Name: Condiments
Product Name: Teatime Chocolate Biscuits  Category Name: Confections
Product Name: Teatime Chocolate Biscuits  Category Name: Dairy Products
Product Name: Teatime Chocolate Biscuits  Category Name: Grains/Cereals
Product Name: Teatime Chocolate Biscuits  Category Name: Meat/Poultry
Product Name: Teatime Chocolate Biscuits  Category Name: Produce
Product Name: Teatime Chocolate Biscuits  Category Name: Seafood
Product Name: Sir Rodney's Marmalade  Category Name: Beverages
Product Name: Sir Rodney's Marmalade  Category Name: Condiments
Product Name: Sir Rodney's Marmalade  Category Name: Confections
Product Name: Sir Rodney's Marmalade  Category Name: Dairy Products
Product Name: Sir Rodney's Marmalade  Category Name: Grains/Cereals
Product Name: Sir Rodney's Marmalade  Category Name: Meat/Poultry
Product Name: Sir Rodney's Marmalade  Category Name: Produce
Product Name: Sir Rodney's Marmalade  Category Name: Seafood
Product Name: Sir Rodney's Scones  Category Name: Beverages
Product Name: Sir Rodney's Scones  Category Name: Condiments
Product Name: Sir Rodney's Scones  Category Name: Confections
Product Name: Sir Rodney's Scones  Category Name: Dairy Products
Product Name: Sir Rodney's Scones  Category Name: Grains/Cereals
Product Name: Sir Rodney's Scones  Category Name: Meat/Poultry
Product Name: Sir Rodney's Scones  Category Name: Produce
Product Name: Sir Rodney's Scones  Category Name: Seafood
Product Name: Gustaf's Knäckebröd  Category Name: Beverages
Product Name: Gustaf's Knäckebröd  Category Name: Condiments
Product Name: Gustaf's Knäckebröd  Category Name: Confections
Product Name: Gustaf's Knäckebröd  Category Name: Dairy Products
Product Name: Gustaf's Knäckebröd  Category Name: Grains/Cereals
Product Name: Gustaf's Knäckebröd  Category Name: Meat/Poultry
Product Name: Gustaf's Knäckebröd  Category Name: Produce
Product Name: Gustaf's Knäckebröd  Category Name: Seafood
Product Name: Tunnbröd  Category Name: Beverages
Product Name: Tunnbröd  Category Name: Condiments
Product Name: Tunnbröd  Category Name: Confections
Product Name: Tunnbröd  Category Name: Dairy Products
Product Name: Tunnbröd  Category Name: Grains/Cereals
Product Name: Tunnbröd  Category Name: Meat/Poultry
Product Name: Tunnbröd  Category Name: Produce
Product Name: Tunnbröd  Category Name: Seafood
Product Name: Guaraná Fantástica  Category Name: Beverages
Product Name: Guaraná Fantástica  Category Name: Condiments
Product Name: Guaraná Fantástica  Category Name: Confections
Product Name: Guaraná Fantástica  Category Name: Dairy Products
Product Name: Guaraná Fantástica  Category Name: Grains/Cereals
Product Name: Guaraná Fantástica  Category Name: Meat/Poultry
Product Name: Guaraná Fantástica  Category Name: Produce
Product Name: Guaraná Fantástica  Category Name: Seafood
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Beverages
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Condiments
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Confections
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Dairy Products
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Grains/Cereals
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Meat/Poultry
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Produce
Product Name: NuNuCa Nuß-Nougat-Creme  Category Name: Seafood
Product Name: Gumbär Gummibärchen  Category Name: Beverages
Product Name: Gumbär Gummibärchen  Category Name: Condiments
Product Name: Gumbär Gummibärchen  Category Name: Confections
Product Name: Gumbär Gummibärchen  Category Name: Dairy Products
Product Name: Gumbär Gummibärchen  Category Name: Grains/Cereals
Product Name: Gumbär Gummibärchen  Category Name: Meat/Poultry
Product Name: Gumbär Gummibärchen  Category Name: Produce
Product Name: Gumbär Gummibärchen  Category Name: Seafood
Product Name: Schoggi Schokolade  Category Name: Beverages
Product Name: Schoggi Schokolade  Category Name: Condiments
Product Name: Schoggi Schokolade  Category Name: Confections
Product Name: Schoggi Schokolade  Category Name: Dairy Products
Product Name: Schoggi Schokolade  Category Name: Grains/Cereals
Product Name: Schoggi Schokolade  Category Name: Meat/Poultry
Product Name: Schoggi Schokolade  Category Name: Produce
Product Name: Schoggi Schokolade  Category Name: Seafood
Product Name: Rössle Sauerkraut  Category Name: Beverages
Product Name: Rössle Sauerkraut  Category Name: Condiments
Product Name: Rössle Sauerkraut  Category Name: Confections
Product Name: Rössle Sauerkraut  Category Name: Dairy Products
Product Name: Rössle Sauerkraut  Category Name: Grains/Cereals
Product Name: Rössle Sauerkraut  Category Name: Meat/Poultry
Product Name: Rössle Sauerkraut  Category Name: Produce
Product Name: Rössle Sauerkraut  Category Name: Seafood
Product Name: Thüringer Rostbratwurst  Category Name: Beverages
Product Name: Thüringer Rostbratwurst  Category Name: Condiments
Product Name: Thüringer Rostbratwurst  Category Name: Confections
Product Name: Thüringer Rostbratwurst  Category Name: Dairy Products
Product Name: Thüringer Rostbratwurst  Category Name: Grains/Cereals
Product Name: Thüringer Rostbratwurst  Category Name: Meat/Poultry
Product Name: Thüringer Rostbratwurst  Category Name: Produce
Product Name: Thüringer Rostbratwurst  Category Name: Seafood
Product Name: Nord-Ost Matjeshering  Category Name: Beverages
Product Name: Nord-Ost Matjeshering  Category Name: Condiments
Product Name: Nord-Ost Matjeshering  Category Name: Confections
Product Name: Nord-Ost Matjeshering  Category Name: Dairy Products
Product Name: Nord-Ost Matjeshering  Category Name: Grains/Cereals
Product Name: Nord-Ost Matjeshering  Category Name: Meat/Poultry
Product Name: Nord-Ost Matjeshering  Category Name: Produce
Product Name: Nord-Ost Matjeshering  Category Name: Seafood
Product Name: Gorgonzola Telino  Category Name: Beverages
Product Name: Gorgonzola Telino  Category Name: Condiments
Product Name: Gorgonzola Telino  Category Name: Confections
Product Name: Gorgonzola Telino  Category Name: Dairy Products
Product Name: Gorgonzola Telino  Category Name: Grains/Cereals
Product Name: Gorgonzola Telino  Category Name: Meat/Poultry
Product Name: Gorgonzola Telino  Category Name: Produce
Product Name: Gorgonzola Telino  Category Name: Seafood
Product Name: Mascarpone Fabioli  Category Name: Beverages
Product Name: Mascarpone Fabioli  Category Name: Condiments
Product Name: Mascarpone Fabioli  Category Name: Confections
Product Name: Mascarpone Fabioli  Category Name: Dairy Products
Product Name: Mascarpone Fabioli  Category Name: Grains/Cereals
Product Name: Mascarpone Fabioli  Category Name: Meat/Poultry
Product Name: Mascarpone Fabioli  Category Name: Produce
Product Name: Mascarpone Fabioli  Category Name: Seafood
Product Name: Geitost  Category Name: Beverages
Product Name: Geitost  Category Name: Condiments
Product Name: Geitost  Category Name: Confections
Product Name: Geitost  Category Name: Dairy Products
Product Name: Geitost  Category Name: Grains/Cereals
Product Name: Geitost  Category Name: Meat/Poultry
Product Name: Geitost  Category Name: Produce
Product Name: Geitost  Category Name: Seafood
Product Name: Sasquatch Ale  Category Name: Beverages
Product Name: Sasquatch Ale  Category Name: Condiments
Product Name: Sasquatch Ale  Category Name: Confections
Product Name: Sasquatch Ale  Category Name: Dairy Products
Product Name: Sasquatch Ale  Category Name: Grains/Cereals
Product Name: Sasquatch Ale  Category Name: Meat/Poultry
Product Name: Sasquatch Ale  Category Name: Produce
Product Name: Sasquatch Ale  Category Name: Seafood
Product Name: Steeleye Stout  Category Name: Beverages
Product Name: Steeleye Stout  Category Name: Condiments
Product Name: Steeleye Stout  Category Name: Confections
Product Name: Steeleye Stout  Category Name: Dairy Products
Product Name: Steeleye Stout  Category Name: Grains/Cereals
Product Name: Steeleye Stout  Category Name: Meat/Poultry
Product Name: Steeleye Stout  Category Name: Produce
Product Name: Steeleye Stout  Category Name: Seafood
Product Name: Inlagd Sill  Category Name: Beverages
Product Name: Inlagd Sill  Category Name: Condiments
Product Name: Inlagd Sill  Category Name: Confections
Product Name: Inlagd Sill  Category Name: Dairy Products
Product Name: Inlagd Sill  Category Name: Grains/Cereals
Product Name: Inlagd Sill  Category Name: Meat/Poultry
Product Name: Inlagd Sill  Category Name: Produce
Product Name: Inlagd Sill  Category Name: Seafood
Product Name: Gravad lax  Category Name: Beverages
Product Name: Gravad lax  Category Name: Condiments
Product Name: Gravad lax  Category Name: Confections
Product Name: Gravad lax  Category Name: Dairy Products
Product Name: Gravad lax  Category Name: Grains/Cereals
Product Name: Gravad lax  Category Name: Meat/Poultry
Product Name: Gravad lax  Category Name: Produce
Product Name: Gravad lax  Category Name: Seafood
Product Name: Côte de Blaye  Category Name: Beverages
Product Name: Côte de Blaye  Category Name: Condiments
Product Name: Côte de Blaye  Category Name: Confections
Product Name: Côte de Blaye  Category Name: Dairy Products
Product Name: Côte de Blaye  Category Name: Grains/Cereals
Product Name: Côte de Blaye  Category Name: Meat/Poultry
Product Name: Côte de Blaye  Category Name: Produce
Product Name: Côte de Blaye  Category Name: Seafood
Product Name: Chartreuse verte  Category Name: Beverages
Product Name: Chartreuse verte  Category Name: Condiments
Product Name: Chartreuse verte  Category Name: Confections
Product Name: Chartreuse verte  Category Name: Dairy Products
Product Name: Chartreuse verte  Category Name: Grains/Cereals
Product Name: Chartreuse verte  Category Name: Meat/Poultry
Product Name: Chartreuse verte  Category Name: Produce
Product Name: Chartreuse verte  Category Name: Seafood
Product Name: Boston Crab Meat  Category Name: Beverages
Product Name: Boston Crab Meat  Category Name: Condiments
Product Name: Boston Crab Meat  Category Name: Confections
Product Name: Boston Crab Meat  Category Name: Dairy Products
Product Name: Boston Crab Meat  Category Name: Grains/Cereals
Product Name: Boston Crab Meat  Category Name: Meat/Poultry
Product Name: Boston Crab Meat  Category Name: Produce
Product Name: Boston Crab Meat  Category Name: Seafood
Product Name: Jack's New England Clam Chowder  Category Name: Beverages
Product Name: Jack's New England Clam Chowder  Category Name: Condiments
Product Name: Jack's New England Clam Chowder  Category Name: Confections
Product Name: Jack's New England Clam Chowder  Category Name: Dairy Products
Product Name: Jack's New England Clam Chowder  Category Name: Grains/Cereals
Product Name: Jack's New England Clam Chowder  Category Name: Meat/Poultry
Product Name: Jack's New England Clam Chowder  Category Name: Produce
Product Name: Jack's New England Clam Chowder  Category Name: Seafood
Product Name: Singaporean Hokkien Fried Mee  Category Name: Beverages
Product Name: Singaporean Hokkien Fried Mee  Category Name: Condiments
Product Name: Singaporean Hokkien Fried Mee  Category Name: Confections
Product Name: Singaporean Hokkien Fried Mee  Category Name: Dairy Products
Product Name: Singaporean Hokkien Fried Mee  Category Name: Grains/Cereals
Product Name: Singaporean Hokkien Fried Mee  Category Name: Meat/Poultry
Product Name: Singaporean Hokkien Fried Mee  Category Name: Produce
Product Name: Singaporean Hokkien Fried Mee  Category Name: Seafood
Product Name: Ipoh Coffee  Category Name: Beverages
Product Name: Ipoh Coffee  Category Name: Condiments

## Summary

Great job! You've just used SQLAlchemy to work with a sample production database. Note that there are many, many more awesome things that SQLAlchemy can do, but they're outside the scope of this lesson.  However, if you're interested in learning more, don't be afraid to take a look at the [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/orm/tutorial.html) and work through some tutorials in your spare time!